[Unit]
Description=Sales Integration - Saleswork

[Service]
Type=oneshot
WorkingDirectory=/root/sales_integration
ExecStart=/usr/bin/docker compose up saleswork
